@CHARSET "ISO-8859-1";

/*
ul li ul li a{
	background-color: red;
}

ul.level_2 li.last{
	background-color: red;
}

ul.level_2 li + li a{
	background-color: red;
}

li.withSubMenu #button_3{
	background-color: red;
}

#button_1 > #menu_2_1 ul{
	background-color: red;
}

.level_1, .level_3{
	background-color: red;
}

.level_1 .last .withSubMenu{
	background-color: red;
}

li ul li li{
	color: red;
	font-size: 20px;
}

li.level_3{
	color: green;
}

li{
	color: yellow;
	background-color: blue;
}

li ul li{
	color: red;
	background-color: pink;
}
*/

ul.level_1 a { color: Black; font-weight: normal; }
ul.level_1 ul.level_2 a { color: Gray; font-weight: bold; }
ul.level_3 li.level_3 a { color: Red; }
ul.level_1 li ul li ul li a { color: Yellow; font-size: 12px; }
