@CHARSET "ISO-8859-1";

/*
ol ol li.withSublist {
	background-color: red;
}

li > a#link_3_2_1 {
	background-color: red;
}

.level_2 .level_3 {
	background-color: red;
}

#menu_3_1 li ol li a {
	background-color: red;
}

li.last a#link_1 {
	background-color: red;
}

li.last.withSublist {
	background-color: red;
}

#TOC, #link1, #link_3_2 {
	background-color: red;
}

ol.level_1 li { background: Green; padding: 20px; }
ol li.level_2 { background: #BBBBBB; }
li.level_3 { padding: 5px; margin: 3px; }
*/

ol.level_1 a { color: Black; font-weight: normal; }
ol.level_1 ol.level_2 a { color: Gray; font-weight: bold; }
ol.level_3 li.level_3 a { color: Red; }
ol.level_1 li ol li ol li a { color: Yellow; font-size: 12px;}